<div class="container">
    <div class="row">
        <div class="col-lg-4" *ngFor="let bill of billsList">
        <div class="card bill-card delay">
            <h6 class="card-heading">#M1050695</h6>
            <div class="card card-content">
                <div class="card-body">
                  <h5 class="mr">4,56,000</h5>
                  <h6 class="card-title">Deccen Cements Ltd</h6>
                  <p class="card-text">Bill Date: <span><b>11/02/2020</b></span></p>
                  <p class="card-text">Due Date: <span><b>11/03/2020</b></span></p>
                  <p class="card-text">No Of Vehicles: <span><b>100</b></span></p>
                  <button class="btn btn-sm btn-link">Edit</button>
                  <button class="btn btn-sm btn-link danger">Delete</button>
                </div>
              </div>
        </div>
        </div>
    </div>
</div>
