<div class="card bill-card" [ngStyle]="{'background-color':!lr.isPending && !lr.isDue ? '#28a745':(lr.isPending?'#ffc107':'#dc3545')}">
    <div>
    <input type="checkbox" class="mr card-heading" id="lrChechbox">
    <h6 class="card-heading">#{{lr.lrNo}}</h6>
    </div>  
      <div class="card card-content">
          <div class="card-body">
            <div class="mr">
            <h6>{{lr.lrDate}}</h6>
            <img class="attached-img" *ngIf="!lr.isPending && !lr.isDue" src="../../assets/Attached stamp.png" width="70px" height="70px">
            </div>
            <h6 class="card-title">{{lr.companyName}}</h6>
            <p class="card-text">Truck No: <span><b>{{lr.truckNo}}</b></span></p>
            <p class="card-text">Quantity: <span><b>{{lr.quantity}}</b></span></p>
            <p class="card-text">Bill No: <span><b>{{lr.billNo}}</b></span></p>
            <button class="btn btn-sm btn-link">Edit</button>
            <button class="btn btn-sm btn-link danger">Delete</button>
          </div>
      </div>
  </div>
