<div class="container">
    <div class="row">
        <div class="card col-lg-6">
            <form>
                <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="truckNo">Truck No</label>
                    <input type="text" class="form-control" id="truckNo" placeholder="Enter Truck No" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lrNo">LR No</label>
                    <input type="text" class="form-control" id="lrNo" placeholder="Enter LR No" required>
                </div>
                </div>
                <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="billDate">Bill Date</label>
                    <input type="date" class="form-control" id="billDate" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" required>
                </div>
                </div>
                <button class="btn btn-primary" type="submit">Create LR</button>
            </form>
        </div>
        <div class="list-group col-lg-5">
            <a class="list-group-item list-group-item-action">LR No - 1201 <div class="mr"><input type="checkbox" class="form-check-input" id="exampleCheck1"></div></a>
            <a class="list-group-item list-group-item-action">LR No - 1202 <div class="mr"><input type="checkbox" class="form-check-input" id="exampleCheck1"></div></a>
            <a class="list-group-item list-group-item-action">LR No - 1203 <div class="mr"><input type="checkbox" class="form-check-input" id="exampleCheck1"></div></a>
            <a class="list-group-item list-group-item-action">LR No - 1204 <div class="mr"><input type="checkbox" class="form-check-input" id="exampleCheck1"></div></a>
            <a class="list-group-item list-group-item-action">LR No - 1205 <div class="mr"><input type="checkbox" class="form-check-input" id="exampleCheck1"></div></a>
            <button class="btn btn-primary" type="submit">Create Bill</button>
        </div>
    </div>
</div>
