<div class="container">
  <div class="form-inline">
    <button class="btn btn-sm btn-primary create-bill-btn" data-toggle="modal" data-target="#createBillModal">Create Bill</button>
    <input class="form-control ml-auto mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button><mat-icon aria-hidden="false" aria-label="Example home icon" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">filter_alt</mat-icon>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Company Name
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #companies>
            <mat-list-option *ngFor="let company of companiesList">
              {{company}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Truck Number
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #truckNos>
            <mat-list-option *ngFor="let truckNo of truckList">
              {{truckNo}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Date
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="fromDate">From Date</label>
              <input type="date" class="form-control" id="fromDate">
            </div>
            <div class="form-group col-md-3">
              <label for="toDate">To Date</label>
              <input type="date" class="form-control" id="toDate">
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
    <div class="row">
        <div class="col-lg-4" *ngFor="let lr of lrList">
        <app-lr></app-lr>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createBillModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create Bill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="selected-lrs">
          <h6>Selected LR Numbers</h6>
          <mat-chip-list class="example-chip" cdkDropListOrientation="horizontal">
            <mat-chip class="example-box" *ngFor="let lrNo of selectedLRNos">
              {{lrNo}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <form>
          <div class="form-group">
            <label for="billNo">Bill No</label>
            <input type="text" class="form-control" id="billNo" placeholder="Enter Bill No" aria-describedby="emailHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>