<div class="card mat-elevation-z8 card-content">
    <div class="bill-heading">
      <h6 class="title">Nag Krishna Transport</h6>
    </div>
    <div class="bill-body">
    <div class="d-flex flex-wrap flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h6>Deccean Cements Ltd</h6>
      </div>
      <div class="p2 bd-highlight">
        <p class="text-grey">Bill Number</p>
        <p class="text-sm-bold">M1050695</p>
        <div class="d-flex flex-row">
          <div>
            <p class="text-grey">Bill Date</p>
            <p class="text-sm-bold">12/04/2020</p>
          </div>
          <div>
            <p class="text-grey">Due Date</p>
            <p class="text-sm-bold">17/05/2020</p>
          </div>
        </div>
      </div>
      <div class="ml-auto p-2 bd-highlight">
        <h5 class="text-blue">4,56,325</h5>
      </div>
    </div>
    <!-- <a class="font-italic lr-link" data-toggle="collapse" href="#collapse{{bill}}" role="button" aria-expanded="false" aria-controls="collapseExample">
      Click to view list of LR's
    </a>
    <div class="collapse" id="collapse{{bill}}">
      
    </div> -->
    <div class="example-container">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <ng-container matColumnDef="lrNo">
          <th mat-header-cell *matHeaderCellDef> LR No </th>
          <td mat-cell *matCellDef="let element"> {{element.lrNo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="truckNo">
          <th mat-header-cell *matHeaderCellDef> Truck No </th>
          <td mat-cell *matCellDef="let element"> {{element.truckNo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="mr rate-div">
      <p class="text-blue"><b>Rate</b> <span class="text-md-bold mr">560.00</span></p>
      <p class="text-blue"><b>Total Quantity</b> <span class="text-md-bold mr">178.67</span></p>
      <p class="text-blue"><b>Total</b> <span class="text-md-bold mr">4,56,325</span></p>
    </div>
    <!-- <img class="paid-stamp" src="../../assets/Bill Stamp.png" width="100px" height="100px"> -->
  </div>
  </div>
